<div>
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)] = "id">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput [(ngModel)] = "author">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput [(ngModel)] = "imgUrl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)] = "type">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Body</mat-label>
    <input matInput [(ngModel)] = "body">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <input matInput [(ngModel)] = "tags">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addContent(); openSnackBarAddedContent()">Create Content</button>
  <button mat-raised-button color="primary" (click)="updateContent(); openSnackBarUpdatedContent()">Update Content</button>

</div>
