
<div class="createContent" xmlns="http://www.w3.org/1999/html">
  ID: <input [(ngModel)] = "id"> <br>
  Author: <input [(ngModel)] = "author"> <br>
<!--  Image: <input [(ngModel)] = "imgUrl" type="file" name="filename" accept="image/gif, image/jpeg, image/png"> <br>-->
  Image: <input [(ngModel)] = "imgUrl"> <br>
  Type: <input [(ngModel)] = "type"> <br>
  Title: <input [(ngModel)] = "title"> <br>
  Body: <input [(ngModel)] = "body"> <br>
  Tags: <input [(ngModel)] = "tags"> <br>
  <button (click)="addContent()">Create Content</button>

</div>
