
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.first-tag{
    border: 2px solid red;
    display: block;
}

.second-tag{
  border: 2px solid blue;
  display: block;
}




