<div class="addContent">
  <button mat-raised-button color="primary" (click)="openDialog()">Add Content</button>
<!--<app-create-component (newContentEvent)="addContentToList($event)" (updateContentEvent)="updateContentToList($event)" ></app-create-component>-->
</div>

<mat-divider></mat-divider>

<div class="findContent">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Content Title" #contentName>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="triggerAlert(contentName.value)" >Find Content</button>
</div>

<mat-grid-list cols="3" rowHeight="1:1.1" class="listOfContent">
<!--<app-content-card *ngFor="let item of (contentList | filterPipe: 'Live')" [content]="item" [class.first-tag] = "'first-tag'"></app-content-card>-->
<!--<app-content-card *ngFor="let item of (contentList | filterPipe: 'Life')" [content]="item" [class.second-tag] = "'second-tag'"></app-content-card>-->
  <mat-grid-tile *ngFor="let item of contentList; index as i;" >
  <app-content-card [content]="item" class="content-{{i}}"></app-content-card>
  </mat-grid-tile>
</mat-grid-list>
